    /* Adicione isso no final do seu arquivo CSS */

    /* Configurações gerais */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }

    body {
        background-color: white;
        height: 100vh;
    }
  

    .header {
        width: 100%;
        height: 1000px;
        background-position:top;    
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url('/assets/img/background/fundo_header.png');
        background-size: 100%;
    }

    /* Configurações do menu */
    .header_menu {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: "roboto";
        flex-wrap: wrap;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    background-color: white;
    
        height: 100px;
    }

    .menu_scroll {
        background-color: #6525E9;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s;
    }

    .header_logo {
        margin-left: 50px;
        padding: 20px;
    }

    .header_logo a {
        font-size: 23px;
        color: #335EEA;
    }

    .menu {
        flex-wrap: wrap;
    }

    .menu li {
        display: inline-flex;
        margin: 20px;
    }

    .menu li a {
        position: relative;
        color: #2e2148 !important;
        display: inline-block;
        font-size: 17px;
        text-decoration: none;
        padding-bottom: 5px;
        transition: border-bottom-color 0.3s;
        border-bottom: 2px solid transparent;
    }

    .menu li a:hover {
        border-bottom: 2px solid #6525E9 !important;
    }

    .menu_scroll .menu li a {
        color: #ffffff !important;
        border-bottom: 2px solid transparent;
    }

    .menu_scroll .menu li a:hover {
        border-bottom: 2px solid #fefefe !important;
    }

    .menu_afastado a {
        display: inline-block;
        border: 1px solid #6525E9;
        padding: 15px;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        color: #6525E9;
        transition: background-color 0.9s, color 0.3s;
            background-color: white !important;
    }

    .menu_afastado a:hover {
        color: #6525E9;
        background-color: white;
        border: 1px solid #335EEA;
    }

    .menu_scroll .menu_afastado a {
        border: 1px solid #ffffff !important;
        color: #ffffff !important;
        background-color: #6525E9 !important;
        
    }

    .menu_scroll .menu_afastado a:hover {
        border: 1px solid #6525E9 !important;
        color: white !important;
        background-color: #6525E9;
    }

    header img {
        height: 400px;
    }

    /* Configurações do menu */
    .header_content {
        width: 100%;
        display: flex;
        align-items: center;
        margin:140px auto;
        
    }
    
    .text_content {
        height: 400px !important;
       
        margin: 150px ;
    }
    
    .texte_titulo {
       
        font-size: 25px !important;
        font-family: "exo";
        color: black;
        margin: 40px 10px;
    }

    .text_content h1 {
        line-height: 33.3px;
        font-family: "exo";
        font-size: 22px;
        letter-spacing: 3px;
        margin-left: 10px;
        color: rgb(92, 92, 92);
    }
    
    .andro_header_span {
        color: #335EEA;
    }
    
    .contratar_whats {
        margin: 130px 10px;
    }
    
    .contratar_whats a {
        display: inline-block;
        border: 1px solid white;
        padding: 15px;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        color: white;
        border-radius: 10px;
        transition: background-color 0.9s, color 0.3s;
        background-color: #335EEA;
    }

    .contratar_whats_2 {
        background-color: #E1E7FC !important;
        color: #335EEA !important;
    }

    .contratar_whats a:hover {
        color: #6525E9;
        cursor: pointer;
    }

    /*    Começando o services */
    .services{
background-color: red;
height: 500px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;


    }
    .cartaz{
        width: 200px;
        height: 200px;
      
    }
._esq{
    width: 60% !important;
    height: 100%;
    background-color: #5dffc9;
}
._direito{
    width: 40%;
    height: 100%;
    background-color: #6525E9;
    display: flex;
    justify-content: center;
    align-items: center;
}
._direito form{
    background-color: white;
    width: 300px;
  padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
    0 6px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
transition: box-shadow 0.3s ease-in-out;
}
.form_paragrafo{
font-family: "exo";
color: #6525E9;
font-size: 19px;
}
.mail_input, .form, button{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border-right: none;
    border-left: none;
    border-top: none;

}
textarea{
    border-top: white !;
    border-left: white;
    border-right: white;

}
.button{
    padding: 10px;
    width: 300px;
    margin-bottom: 30px;
    
}
button{
    background-color: #5dffc9;
    border: none;
    padding: 10px;

}
    .img_content {
        text-align: center;
        margin-right: 100px;
    }

    .img_content p {
        color: white;
        font-size: 20px;
        font-family: "exo";
    }

    .section_titulo {
        color: #190439;
        padding: 10px;
        width: 100%;
        text-align: center;
        font-family: 'roboto';
        font-size: 30px;
        background-color: red;
    }

    .section_code {
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-family: exo;
        justify-content: space-around;
        text-align: center;
        margin-top: 100px;
    }

    .section_info img {
        height: 300px;
    }

    .code_info img {
        height: 300px;
    }
